@import  "http://weloveiconfonts.com/api/?family=entypo";
@import  "https://fonts.googleapis.com/css?family=Black+Ops+One|Bungee|Bungee+Inline|Bungee+Shade|Quicksand|Righteous|Space+Mono";

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo',sans-serif;
}

body {
    background: #eee;
}

footer {
    display: none;
}

.not-found h1 {
    font-size: 10vh;
    font-family: 'Righteous', cursive;
    text-align: center;
    margin: 0;
}

.not-found .big-eye {
    width: 67%;
    font-size: 30vh;
    text-align: center;
    cursor: pointer;
    margin: 0 auto;
}

.not-found .animated-eye {
    display: none;
    width: 300px;
    margin-top: -190px;
}

#lid {
    animation: blink 5s infinite;
}

#eye {
    animation: squeeze 5s infinite;
}

@keyframes blink {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(15px) scaleY(0)
    }
    100% {
        animation-timing-function: ease-out;
    }
}

@keyframes squeeze {
    90% {
        transform: none;
        animation-timing-function: ease-in;
    }
    93% {
        transform: translateY(10px) scaleY(0.2)
    }
    100% {
        animation-timing-function: ease-out;
    }
}

.on-top {
    position: absolute;
    z-index: 999;
}

.black-square {
    z-index: 20;
    position: absolute;
    top: 0;
    left: 0;

    height: 0;
    width: 100%;

    background-color: black;
}

header {
    display: block;
    margin: 0;
    padding: 0;
}

nav li {
    list-style: none;
}

nav li a, nav li a:visited {
    z-index: 10;

    color: #eee;
    text-decoration: none;
    font-family: 'Righteous', cursive;
}

nav li:hover a {
    color: white !important;
    visibility: visible !important;
    opacity: 1 !important;

    text-decoration: none;
}

nav .nav-pay {
    display: block;
    position: absolute;
    top: 80%;
    left: 10%;

    transform: rotate(37deg);

    font-size: 5vh;
}