@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: #fcfefc;
}

.conditions-wrapper {
    width: 50vw;
    margin: 0 auto;
    
    font-size: 2vh;
    font-family: Arial, sans-serif;
}

.conditions-wrapper:hover .conditions {
    visibility: visible;
    height: auto;
    opacity: 1;
}

.conditions-wrapper:hover .open-conditions {
    z-index: 4;

    margin-top: -1px;

    opacity: 1;
    background-color: white;

    box-shadow: none;
    border-radius: 10px;
    border: 1px solid #eee;
}

.open-conditions {
    display: block;
    position: relative;
    z-index: 2;

    width: 50%;
    margin: 0 auto;
    margin-bottom: -1.2em;
    padding: 5px;

    text-align: center;
    font-size: 2vh;
    font-weight: 600;

    opacity: 0.5;

    transition-duration: 0.1s;
    transition: border-radius 0s, margin-top 0s;
}

.conditions {
    visibility: hidden;
    position: relative;
    z-index: 3;

    width: 80%;
    height: 0;
    margin: 0 auto;
    padding: 30px;

    opacity: 0;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 8px 6px -6px black;
    border: 1px solid #eee;

    transition: visibility 0s, height 0s, opacity 0.3s linear;
}

.jew {
    position: absolute;
    top: 100%;
    left: 100%;

    width: 20vw;
    height: 20vw;
    margin-top: -20vw;
    margin-left: -20vw;

    background-color: none;
    background-image: url("../imgs/merchant-small.gif");
    background-size: cover;

    z-index: -1;
}

.load-wrapper:after {
    top: 50%;
    left: 50%;
    margin-top: -33.5px;
    margin-left: -42.5px;

    width: 67px;
    height: 85px;

    opacity: 0.6;
    background-image: url('../imgs/animated-euro-gold.gif');
    background-size: contain;
    background-position: 0 20px;
    background-repeat: no-repeat;

    color: black;
}

.tinkoff-pay {
    height: auto;
    padding: 20px;

    font-family: 'Open Sans', sans-serif;
}

.tinkoff-pay h2 {
    font-size: 1.2em;
    text-align: center;
}

.tinkoff-pay h3 {
    font-size: 1em;
    text-align: center;
}

.tinkoff-pay p {
    margin-top: -10px;
    text-align: center;
}

#details {
    display: none;
    margin: 0;
    padding: 0;
}

.tinkoff-pay p.open-details {
    text-align: center;
    margin: 0;
}

.pay-iframe {
    position: relative;
    display: none;
    padding: 0;
    margin: 0;

    width: 780px;

    z-index: 999;
}