name: Deploy Resume

on:
  push:
    tags:
      - "v*.*.*"
  pull_request:

env:
  HTML_THEME: stackoverflow-fixed
  PDF_THEME_1: stackoverflow-fixed
  PDF_THEME_2: short

jobs:
  deploy:
    runs-on: ubuntu-20.04
    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
    steps:
      - uses: actions/checkout@v3

      - name: Prepare tag
        id: prepare_tag
        if: startsWith(github.ref, 'refs/tags/')
        run: |
          TAG_NAME="${GITHUB_REF##refs/tags/}"
          echo "::set-output name=tag_name::${TAG_NAME}"
          echo "::set-output name=deploy_tag_name::deploy-${TAG_NAME}"

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 14
          cache: "yarn"

      - name: Setup builder
        run: yarn install --frozen-lockfile

      - name: Build resume
        run: |
          mkdir public
          npx resume-cli export public/index.html -r index.json -t $HTML_THEME -d public -f html
          npx resume-cli export public/index.1.pdf.html -r index.json -t $PDF_THEME_1 -d public -f html
          npx resume-cli export public/index.2.pdf.html -r index.json -t $PDF_THEME_2 -d public -f html

      - name: Build PDF, Variant 1
        uses: fifsky/html-to-pdf-action@master
        with:
          htmlFile: ./public/index.1.pdf.html
          outputFile: ./public/resume.1.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

      - name: Build PDF, Variant 2
        uses: fifsky/html-to-pdf-action@master
        with:
          htmlFile: ./public/index.2.pdf.html
          outputFile: ./public/resume.2.pdf
          pdfOptions: '{"format": "A4", "margin": {"top": "10mm", "left": "10mm", "right": "10mm", "bottom": "10mm"}}'

      - name: Deploy Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./public
          enable_jekyll: false
          tag_name: ${{ steps.prepare_tag.outputs.deploy_tag_name }}
          tag_message: "Deployment ${{ steps.prepare_tag.outputs.tag_name }}"
          cname: dlisin.tk

      - name: 'Upload PDF'
        uses: actions/upload-artifact@v3
        with:
          name: resume.pdf
          path: ./public/resume.?.pdf
          retention-days: 30
